.App {
  text-align: center;
}


.App-header {
  background-color: #414449;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}


input{
  padding: 5px;
  border: 1px solid rgb(155, 152, 152);
  border-radius: 5px;
}